PORT=3000

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=notification_engine
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password

REDIS_HOST=redis
REDIS_PORT=6379

KAFKA_BROKER=kafka:9092

RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672